section.header 
    .header__wrapper
        a(href="#") 
            +icon('logo')

        .nav 
            ul.nav__desktop 
                li 
                    a(href="#") О нас 
                li 
                    a(href="#") Каталог
                li 
                    a(href="#") Доставка
                li 
                    a(href="#") Вопрос-ответ 
                li 
                    a(href="#") Контакты
        .headContact   
            .headContact__clock с 09:00 до 23:00 Ежедневно
            .headContact__tel 
                a(href="#") +7 (912) 000 00 00
            .headContact__button
                .headContact__button-call Заказать звонок

        

