//------------------------------------------------------------layout
.base{
	padding: 0;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	height: $header;
	width: 100%;
	z-index: 9999;
	display: flex;
	align-items: center;
	font-size: 1rem;
	border-bottom: 1px solid #000;
	will-change: transform;

	@include bp($point_3) {
		height: $header_mob;
	}

	&_main{
		@include bp($point_3) {
			display: none;
		}
	}
}
.menuMobile{
	display: flex;
	@include bp($point_3) {
		z-index: 99999;
	}
}
.menuMobile__list{
	opacity: 0;
}
.menuMobile__list.active{
	opacity: 1;
	transition: 0.5s;
	background-color:$black;
}
.menuMobile{
	&__list{
		margin-top: 10%;
		padding: 10px;
		margin-top: 44px;
		background-color:$black;
		text-align: center;
	}
	&__list li{
		padding-bottom: 10px;
	}
	&__list li a{
		color:#fff;
	}
	&__wrapp{
		width: 100%;
	}
}
.nav__logo-mobile::after{
	height: 4.5rem !important;

}
.nav__logo-mobile{
	padding: 10px;
}
.nav__tel-mobile{
	padding: 10px;
	margin-left: 10% !important;
}

.wrapp {
    width: 100%;
    max-width: 1720px;
    // padding-left: 100px;
    // padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
	@include bp($point_4) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	background-color:#fff;
    &__list{
		position: relative;
        display: flex;
		margin-left: -60px;
		width: 100%;
		@include bp($point_2) {
			margin-left: -50px;
		 }
    }
	&__list:after{
		top: -1.8rem;
		right: 45px;
		position: absolute;
		display: block;
		content:'';
		width: 1px;
		height: 6rem;
		background-color:#000;
		@include bp($point_2) {
			right: 20px;
		}
    }
    &__item{
        font-size: 1.8rem;
        margin-right: 6.6rem;
		@include bp($point_1) {
			margin-right: 30px;
		 }
		 @include bp($point_2) {
			font-size: 14px;
			margin-right: 20px;
		 }
       
    }
    &__item a{
        color: $black;
    }
	&__logo{
		position: relative;
		width: 200px;
		display: flex;
		align-items:center;
		@include bp($point_1) {
			width: 130px;
		 }
	}
	&__logo::after{
		right: 0px;
		position: absolute;
		display: block;
		content:'';
		width: 1px;
		height: 6rem;
		background-color:#000;
	}
	&__button{
		top: 0;
		display: flex;
		align-items:center;
		justify-content: center;
		position: absolute;
		right: 0;
		height: $header;
		background-color: #232323;
		// max-width: 362px;
		width: 20%;
		// @include bp($point_1) {
        //    width: 262px;
        // }
	}
	&__button a{ 
		color: #fff;
	}
	&__tel {
		margin-left: -50px;
		color: #000;
	}
	&__tel a{
		@include bp($point_2) {
			font-size: 16px;
	 }
	}


  }
.icon-my-Space{
	@include bp($point_2) {
		width: 5em !important;
	 }
}
.menuMobile{
	position: relative;

	&__wrapp{
		position: absolute;
		right: 0;
	}
	&__trigger{
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
	}
}
.menuMobileFix {
	position: relative;
}
.menuMobile{
	position: fixed;
	width: 100%;
}