.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(16/10)*1rem;
	width:(9/16)*1em;
}
.icon-arrow-cicle {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-arrow-long {
	font-size:(16/10)*1rem;
	width:(353/16)*1em;
}
.icon-arrow-next-slide {
	font-size:(16/10)*1rem;
	width:(146/16)*1em;
}
.icon-arrow-prev-slide {
	font-size:(16/10)*1rem;
	width:(146/16)*1em;
}
.icon-burger-icon {
	font-size:(15/10)*1rem;
	width:(23/15)*1em;
}
.icon-close-icon {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-logo {
	font-size:(28/10)*1rem;
	width:(33/28)*1em;
}
.icon-my-Space {
	font-size:(20/10)*1rem;
	width:(160/20)*1em;
}
.icon-telega {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-whats {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
