.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-333 {
	font-size:(66/10)*1rem;
	width:(66/66)*1em;
}
.icon-444 {
	font-size:(75/10)*1rem;
	width:(74/75)*1em;
}
.icon-arrow-down {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-facebook {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-logo {
	font-size:(38/10)*1rem;
	width:(185/38)*1em;
}
.icon-tg {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-viber {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-vk {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-whats {
	font-size:(53/10)*1rem;
	width:(53/53)*1em;
}
.icon-Векторный_смарт-объект {
	font-size:(60/10)*1rem;
	width:(72/60)*1em;
}
.icon-Векторный_смарт-объект2 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
